/*

!/.gitignore
!/.dockerignore

!/Dockerfile
!/pyproject.toml
!/server.py
!/r
!/r.cmd
!/stt/
!/tts/
!/core/
!/src/

!/.env.example
!/tests/
!/tools/
!/scripts/
!/package.json
!/package-lock.json
!/vite.config.ts
!/tsconfig.json

**/__pycache__/**

!/README.md
!/LICENSE
