*

!.gitignore
!.dockerignore
!.gitmodules
!.env.example

!Dockerfile
!pyproject.toml
!server.py
!stt/
!stt/**
!tts/
!tts/**
!core/
!core/**

!demo-gif.sh
!justfile

!scripts/
!scripts/**

!src/
!src/**

!public/
!public/**

!tests/
!tests/**

**/__pycache__/**

!README.md
!LICENSE
!media
