*

!.gitignore
!.dockerignore
!.gitmodules

!Dockerfile
!pyproject.toml
!server.py
!stt/
!stt/**
!tts/
!tts/**
!core/
!core/**
!src/
!src/**
!public/
!public/**

!.env.example
!tests/
!tests/**
!justfile
!scripts/
!scripts/**

**/__pycache__/**

!README.md
!LICENSE
!media
